.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 80px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 400px;
  color: #fff;
  padding-top: 0rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 0rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top:  0rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

/* dashboard custom css */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.icon-footer{
  margin-left: 6rem;
  text-align: left;
}
.icon-footer-color{
  color: #fff;
}

form.example input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 5px;
  background: #10284e;;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

 /* Search Button  */
.search-btn-form{
  margin:auto;
  max-width:300px;
}



 /* product Info  */
.product-size-card{
  font-size:18px;
  box-sizing: border-box;
  border: 2px solid #cfcfcf;
  color: black;
  padding: 6px 10px;
  border-radius: 2px;
  font-weight: bolder;
  text-align: center;

}

.fa-plus{
  float: right;
  padding-right: 1rem;
}

.fa-minus{
  float: right;
  padding-right: 1rem;
}
.product-details{
  color: black;
  font-size: 24px;
  padding: 32px 0 32px 24px;
  font-weight: 500;
}

.save-extra{
  color: #B12704;
  font-weight: 700;
}
.offer-buy-product-link{
  text-align: center;
  margin: 2rem;
  margin-top: 1rem;
}
.phone-icon{
  color: #fff;
  float: left;
}
.whatsapp-button{
  background-color: #25D366;
  
}
.instagram-button{
  background-image: linear-gradient(#515BD4 ,#8134AF,#DD2A7B,#FEDA77);
}
.facebook-button{
  background-color: #4267B2;
}
.email-button{
  background-color: #D44638;
}

.offer-buttons{
  color: #fff;
  font-weight: 900;
  font-size: small;
  text-align: left;
  padding-left: 4rem;
}
.offer-valid-text{
  font-size:12px;
}

.price {
  text-align: center;
  padding: 1rem;
  font-size: 1.9rem;
  font-weight: 900px;
}
.other-buy-text{
  line-height: 0.9rem;
  font-size: 0.9rem;
  font-weight: 700;
  padding-bottom: 1rem;

}

/* product listing page */

.sortby-dropdown{
  float: right;
}
/* Admin Category Page */
.add-category-header{

  font-size: 2rem;
  color:black;
}
.addcategory-modal-title{
  color: black;
}

.form-group{
  color: black;
}

/* Add product Admin Page */


.add-more-productimage-link{
  text-decoration: none;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 22px 0 22px 12px;
  
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color :#10284e;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 300px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}